{# partials/navigation.html.twig #}
<nav id="nav" class="navbar navbar-default navbar-inverse">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar2" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="navbar-brand" class="navbar-brand" href="{{ path('index') }}"></a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
            <ul id="nav" class="nav navbar-nav">
                <li><a href="{{ path('index') }}">Home</a></li>
            </ul>
            <ul id="nav" class="nav navbar-nav navbar-right">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') or is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                           Companies <span class="caret"></span>
                        </a>
                        <ul id="navbar" role="menu" class="dropdown-menu">
                            <li><a href="{{ path('companies') }}"><span class="glyphicon glyphicon-eye-open"></span> Companies List </a></li>
                            <li><a href="{{ path('create_company') }}"><span class="glyphicon glyphicon-plus-sign"></span> Create Company </a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                           Roles <span class="caret"></span>
                        </a>
                        <ul id="navbar" role="menu" class="dropdown-menu">
                            <li><a href="{{ path('roles') }}"><span class="glyphicon glyphicon-eye-open"></span> Roles List </a></li>
                            <li><a href="{{ path('create_role') }}"><span class="glyphicon glyphicon-plus-sign"></span> Create Role </a></li>
                        </ul>
                    </li>
                    {# <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                           Employees <span class="caret"></span>
                        </a>
                        <ul id="navbar" role="menu" class="dropdown-menu">
                            <li><a href="{{ path('employees') }}"><span class="glyphicon glyphicon-eye-open"></span> Employees List </a></li>
                            <li><a href="{{ path('create_employee') }}"><span class="glyphicon glyphicon-plus-sign"></span> Create Employee </a></li>
                        </ul>
                    </li> #}
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                           Welcome {{ app.user.username }} <span class="caret"></span>
                        </a>
                        <ul id="navbar" role="menu" class="dropdown-menu">
                            <li><a href="{{ path('user_profile') }}"><span class="glyphicon glyphicon-user"></span> Profile </a></li>
                            <li><a href="{{ path('logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout </a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{{ path('registration') }}"><span class="glyphicon glyphicon-user"></span> Register </a></li>
                    <li><a href="{{ path('login') }}"><span class="glyphicon glyphicon-log-in"></span> Login </a></li>
                {% endif %}
            </ul>
        </div>
</nav>