{% extends 'base.html.twig' %}

{% block title %}Roles List{% endblock %}

{% block body %}
  {% if roles %}
    <table id="roles" class="table table-striped">
      <thead>
        <tr>
          <th style="width: 40%">Role</th>
          <th style="width: 40%">Salary</th>
          <th style="width: 20%">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for role in roles %}
          <tr>
            <td>{{ role.name }}</td>
            <td>{{ role.salary }}</td>
            <td>
              <a href="/role/{{ role.id }}" class="btn btn-dark">Show</a>
              <a href="/role/update/{{ role.id }}" class="btn btn-light">Edit</a>
              <a href="#" class="btn btn-danger delete-role" data-id="{{ role.id }}">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No roles to display</p>
  {% endif %}
{% endblock %}