{% extends 'base.html.twig' %}

{% block title %}Employees List{% endblock %}

{% block body %}
  {% if employees %}
    <table id="employees" class="table table-striped">
      <thead>
        <tr>
          <th style="width: 20%">Name</th>
          <th style="width: 20%">Last Name</th>
          <th style="width: 20%">Age</th>
          <th style="width: 20%">Company</th>
          <th style="width: 20%">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for employee in employees %}
          <tr>
            <td>{{ employee.name }}</td>
            <td>{{ employee.lastName }}</td>
            <td>{{ employee.age }}</td>
            <td>{{ employee.company.name }}</td>
            <td>
              <a href="/employee/{{ employee.id }}" class="btn btn-dark">Show</a>
              <a href="/employee/update/{{ employee.id }}" class="btn btn-light">Edit</a>
              <a href="#" class="btn btn-danger delete-employee" data-id="{{ employee.id }}">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div>
      {{ knp_pagination_render(employees) }}
    </div>
    <div>
        Employees count: {{ employees.getTotalItemCount }}
    </div>
  {% else %}
    <p>No employees to display</p>
  {% endif %}
{% endblock %}